{{ define "main" }}
<article class="post">
  <header class="post-header">
    <h1>{{ .Title }}</h1>
    {{- with .Params.lead }}
    <p>{{ . }}</p>
    {{- end }}
    {{ if .Params.date }}<p>Published on {{ .Date | dateFormat ":date_long"}} by <a href="/contact">{{ .Site.Author.name }}</a></p>{{ end }}
    {{ if .Params.updated }}<p>Updated on {{ .Params.updated | dateFormat ":date_long"}}</p>{{ end }}
  </header>
  {{- if .Params.thumbnail }}
  <figure>
    <img src="{{ .Params.thumbnail | relURL }}" alt="{{ .Title }}">
  </figure>
  {{- end }}
  {{- partial "post_toc.html" . -}}{{/* Not used unless post has toc parameter */}}
  <div class="post body">
    {{ .Content }}
  </div>
  {{- if .Params.tags }}{{/* Not used unless post has tags */}}
  <footer class="post__footer">
    {{ partial "post_tags.html" . }}
  </footer>
  {{- end }}
</article>
{{ partial "advisory" . }}
{{ partial "authorbox" . }}
{{ partial "pager" . }}
{{ partial "comments" . }}
{{ end }}
