<article class="card">
  {{- if .Params.thumbnail }}
  <figure>
	<a href="{{ .Permalink }}">
	  <img src="{{ .Params.thumbnail | relURL }}" alt="{{ .Title }}">
	</a>
  </figure>
  {{- end }}
  <header class="card-header">
    <h2 class="card-title">
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </h2>
    <p class="card-date">Published {{ .Date | dateFormat ":date_long" }}</p>
  </header>
  <div class="card-body">
    <p class="card-excerpt">
      {{ .Summary }}
    </p>
    {{- if .Site.Params.readmore }}
    {{- if or .Truncated .Summary }}
    <p>
      <a href="{{ .RelPermalink }}">Read more...</a>
    </p>
    {{- end }}
    {{- end }}
  </div>
</article>
