/*************************************************
   TABLETOP ENGINEERING
   project: tabletop.engineering website
   file:    style.css
   author:  Justin R. St-Amant
   date:    2021-08-19
*************************************************/
/* base color on mycolor.space is #3D4F5D */

/* tentative organisation of CSS in planning:
Site defaults and global settings.
IDs, and explain where they're used
- banner
- header
- body
- nav
- footer
- authorbox
- advisory
- content
- sidebar
Markdown-specific CSS for articles
Utility classes like .section
*/

/********************************************/
/* DEFAULTS AND CROSS-BROWSER COMPATIBILITY */
/*******************************************/
/* background-color for the body element is matching with the footer */
/* See the #body ID for the background-color of the main content area*/
body {
  color: #3d4f5d;
  /*background-color: #3d4f5d;*/
  background-color: #fff;
  font-family: Arial, sans-serif;
  font-size: 100%; /* Set default font-size for the whole page, all em sizes are constrained by this */
  line-height: 1.15; /* Set default line-height for everything */
}
html {
    background-color: #3d4f5d; /* html background matches the footer, for when a page is small */
}
p {
  font-size: 1em; /* Standardize all em sizes to the size of paragraph text */
  margin: 1em 0; /* Overwrite user-agent stylesheet with this default */
}
article {
  display: block; /* Overwrite user-agent stylesheet to ensure this default across browsers */
}
blockquote {
  font-style: italic;
  margin: 1em 1.5em;
}



#banner, #nav {
  margin: auto;
}

#banner > * {
  display: inline-block;
  vertical-align: middle;
}

#header, #footer {
  text-align: center;
}

#header, #header a, #footer, #footer a {
  background-color: #3d4f5d;
  color: #fff;
}

#nav, #nav a {
  background-color: #687987;
}

#nav a:link, #nav a:visited, #nav a:active {
  color: inherit;
  text-decoration: none;
}

#nav a:hover {
  color: #009ff6;
}
a:link, a:visited, a:active {
  color: #3d4f5d;
}

a:hover {
  color: #009ff6;
}

#body {
  background-color: #fff;
  max-width: 1200px;
  margin: 0 auto;
}
/*#body h2 {
  margin: 0.5em 0;
}*/

#footer ul {
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', Arial, sans-serif;
}
h2 {
   margin: 0.5em 0;
}

/* .card is used in list pages. Every post is a <arcticle class="card">*/
.card {
  margin: 0 0 1em 0;
}
.card * {
  margin: 0;
}
.card-title a {
  text-decoration: none;
}
.card-title a:hover {
  color: #009ff6;
}
.card-date {
  font-size: 0.875em;
  margin: 0;
}
.card-header {
  margin: 0 0 0.875em 0;
}
.card-excerpt {
  margin: 0 0 0.875em 0;
}

/* .page is used for list pages or other pages */
.page-header {
  margin: 0 0 1em 0;
}
.page-header * {
  margin: 0;
}

/* .post is used for an actual post page */
.post.body {
  /*line-height: 1.5;*/
}
.readmore {
  margin: 0.5em 0 1em 0;
}

.post-header * {
  margin: 0;
}

#content, #sidebar {
  padding: 2em;
}

code {
  background-color: #e9fcff;
}

pre {
  display: block;
  white-space: pre;
  overflow: auto;
  background-color: #e9fcff;
  padding: 1em;
  border: 1px solid #8ab0cd;
  text-align: left;
}

#authorbox h3, #authorbox p {
  margin: 0;
}

.authorbox-image-wrapper {
  position: initial;
}
.authorbox-image {
  border-radius: 50%;
  display: block;
  margin: auto;
}
@media screen and (min-width: 35.5em) {
  .authorbox-image-wrapper {
    position: relative;
  }
  .authorbox-image {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}

#advisory {
  background-color: #e9fcff;
  padding: 1em;
  border: 1px solid #8ab0cd;
  margin: 0 0 1em 0;
}
#advisory p {
  margin: 0;
}

#banner a {
  text-decoration: none;
}

#nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#footer {
  padding: 1em 0;
}

/*******************/
/* UTILITY CLASSES */
/*******************/
/* generic class to add top and bottom margins to content sections */
.section {
  margin: 1em 0;
}

